<app-bread-crumb></app-bread-crumb>

<div class="my-20 container">
    <div class="row mx-2">
        <!-- product images-->
        <div class="col-12 col-md-7 col-lg-8">
            <app-image-gallery [imagesArray]="imagesArray"></app-image-gallery>
        </div>
        <!-- product details -->
        <div class="col-12 col-md-5 col-lg-4 d-flex flex-column aling-items-center gap-2 mt-5 mt-md-0">
            <h1 class="fw-bolder">Faded SkyBlu Denim Jeans</h1>
            <span class="product-price">$144.19</span> <!--  product pricee -->
            <span>Category: <span class="text-danger fw-bolder ms-5">Household</span> </span>
            <span>Availablity: <span class="text-warning fw-bolder ms-5">in stock</span> </span>
            <hr class="text-black-50 my-4">
            <!-- product intro -->
            <p class="pdetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam unde aperiam obcaecati
                quasi laboriosam dicta id, </p>
            <hr class="text-black-50 my-4">
            <!-- buy product -->
            <div class="card-area d-flex justify-content-between align-items-center gap-2">
                <div class="product_count">
                    <span class="inumber-decrement" role="button" (click)="minusCount()"> <i
                            class="bi bi-dash"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="100" [(ngModel)]="productCount">
                    <span class="number-increment" role="button" (click)="addCount()"> <i class="bi bi-plus"></i></span>
                </div>
                <a class="btn_3">add to cart</a>
                <a class="like_us" #likeContainer (click)="liked(likeContainer)">
                    <i class="bi bi-heart fs-3 text-dark" #like (mouseover)="likeHover(like)"
                        (mouseout)="likeOut(like)"></i>
                    <i class="bi bi-heart-fill visually-hidden"></i>
                </a>
            </div>


            <hr class="text-black-50 my-4">
        </div>
    </div>

    <div class="tabs mt-5">
        <div>
            <label class="" for="description">
                <input type="radio" class="" name="tabs" id="description" value="description" autocomplete="off" checked [(ngModel)]="activeTab">
                <span>description</span>
            </label>
            <label class="" for="specification">
                <input type="radio" class="" name="tabs" id="specification" value="specification" autocomplete="off" checked [(ngModel)]="activeTab">
                <span>specification</span>
            </label>
            <label class="" for="reviews">
                <input type="radio" class="" name="tabs" id="reviews" value="reviews" autocomplete="off" checked [(ngModel)]="activeTab">
                <span>reviews</span>
            </label>
        </div>


    </div>
    <div class="comments" *ngIf="activeTab === 'reviews'">
        <app-comments-section></app-comments-section>
    </div>
    <div class="description mt-4" *ngIf="activeTab === 'description'">
        <p class="text-dark lh-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo repellat distinctio officia sit quia alias eligendi omnis, quod laudantium itaque dolorem vitae, dolorum sapiente fugit aliquam accusantium recusandae magni iusto deserunt. In expedita omnis id, ipsam perferendis quos nostrum excepturi alias modi sunt sequi, esse cupiditate! Alias, possimus. Dolore veniam quae impedit reprehenderit, nemo, aliquid officia molestias ad consectetur possimus eaque exercitationem vero illum consequuntur incidunt commodi quo placeat corrupti ducimus sed, quam dolorum. Ducimus facere quibusdam error ullam in, illo iure perspiciatis doloribus placeat! Dolorum blanditiis amet explicabo et ad perferendis accusantium quae, placeat optio similique, eaque nesciunt aliquid.</p>
    </div>
    <div class="specification mt-5 col-12 col-lg-6 me-auto" *ngIf="activeTab === 'specification'">
        <div class="mt-4 d-flex flex-column gap-3">
            <div class="p-2 w-100 border-bottom border-dark-subtle d-flex">
                <span>width</span>
                <span class="ms-auto">133mm</span>
            </div>
            <div class="p-2 w-100 border-bottom border-dark-subtle d-flex">
                <span>heigh</span>
                <span class="ms-auto">223mm</span>
            </div>
            <div class="p-2 w-100 border-bottom border-dark-subtle d-flex">
                <span>Depth</span>
                <span class="ms-auto">85mm</span>
            </div>
            <div class="p-2 w-100 border-bottom border-dark-subtle d-flex">
                <span>weight</span>
                <span class="ms-auto">12kg</span>
            </div>
            <div class="p-2 w-100 border-bottom border-dark-subtle d-flex">
                <span>Each Box contains</span>
                <span class="ms-auto">22pcs</span>
            </div>
        </div>
    </div>

</div>