<app-bread-crumb></app-bread-crumb>
<div class="container justify-content-center my-5">
    <div class="d-flex flex-column flex-md-row px-md-5 justify-content-center align-items-center">
        <div class="creat-acount">
            <h3>New to our Shop</h3>
            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
            <button type="button">CREATE AN ACCOUNT</button>
        </div>
        <div class="login-form mt-5 mt-md-0 p-lg-5 p-3">
            <h3 class="fw-bolder">Welcome Back ! <br>
                Please Sign in now</h3>
                <form [formGroup]="loginForm" class="d-flex flex-column align-items-start gap-4" (ngSubmit)="onSubmit()">
                    <input type="text" name="username" autocomplete="username" placeholder="Username" formControlName="username">
                    <input type="password" autocomplete="current-password" name="password" placeholder="Password" formControlName="password">
                   <div class="d-flex flex-row align-items-center">
                    <input type="checkbox" name="remember" formControlName="remember" id="remember">
                    <label for="remember" class="mb-1 mx-2">remember me</label>
                   </div>
                    <input type="submit" value="LOG IN" class="login-button">
                    <a href="#" class="text-secondary-emphasis ms-auto">Forget Password?</a>
                </form>

        </div>
    </div>
</div>