.Logo {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  margin: 5px 10px;
}
.navbar {
  transition: 300ms;
  background: rgb(236, 253, 255) !important;
  margin-bottom: 0 !important;
}
.nav-item {
  margin: 0 10px;
  a {
    color: black !important;
    font-size: 1.1em;
    font-weight: 500;
  }
  &:after {
    display: block;
    content: "";
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas {
    flex-grow: 0 !important;
    transition: 400ms;
  }
}
@media (max-width: 991px) {
  .nav-item {
    margin-bottom: 10px !important;
    transition: 400ms;
  }
}
.active {
  border-bottom: solid 3px #d22053;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.bi-list:focus {
  outline: none;
  box-shadow: none;
}
.searchbar-container {
  background-color: rgb(236,253,255) !important;
  
  
  .searchbar {
    position: relative;
    input {
      background-color: rgb(255, 51, 104);
      width: 100%;
      border: none;
      color: white;
      padding: 10px;
      height: 100%;
      font-size: 18px;
      
      &::placeholder {
        color: white;
        font-size: 20px;
        font-weight: 400;
      }
      &:active,&:focus{
        border: none !important;
        outline: none !important;
      }

    }
    .search-cross{
      position: absolute;
      top: 50%;
      right: calc(0% + 10px);
      transform: translate(-50%,-50%);
    }
  }
}
.search-visible{
  animation: appear 300ms   ease-out ;
  display: block;
}
.search-imvisible{
  animation:disappear 300ms ease-out forwards;
  display:none;
}
@keyframes appear {
  0% {
    opacity: 0;
    display: block;
  }
  100%{opacity: 100%; }

}
@keyframes disappear {
  0% {
  opacity: 100%;}
  100%{opacity: 0%; display: none;}
  
}