<div class="d-lfex flex-column">
    <nav class="navbar navbar-expand-lg bg-transparent ">
        <div
            class="container-fluid p-2 nav-items-container d-flex align-items-center justify-content-between justify-content-md-around">
            <button class="border-0 bg-transparent navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="bi bi-list text-black fw-bolder fs-1"></i>
            </button>
            <a class="Logo" [routerLink]="['/home']">FSHOP</a>
            <div class="offcanvas offcanvas-end    " tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-body">
                    <div class="offcanvas-header w-100">
                        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['/home']"
                                routerLinkActive="active" data-bs-dismiss="offcanvas">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active"
                                data-bs-dismiss="offcanvas">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
                                data-bs-dismiss="offcanvas">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active"  data-bs-dismiss="offcanvas">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" data-bs-dismiss="offcanvas" [routerLink]="['/contact']" routerLinkActive="active" >Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form class="d-flex mx-2 gap-4 fw-bold fs-5">
                <i class="bi bi-search" role="button" (click)="toggleSearch()" (keydown)="toggleSearch()" tabindex="0" role="button"></i>
                <i class="bi bi-heart"></i>
                <div class="cart " [routerLink]="['/cart']" >
                    <i class="bi bi-cart-plus-fill"></i>
                    <div class="cart_quantity">{{cartQuantity}}</div>
                </div>
                
            </form>

        </div>

    </nav>
    <div class=" searchbar-container  py-3 px-md-5 " #searchbar [ngClass]="{'search-visible': isSearchVisible,
    'search-imvisible':!isSearchVisible}">
       <div class="searchbar container" >
        <input type="text" placeholder="Search Here" class="search-input">
        <i class="bi bi-x fs-4 text-white search-cross" role="button" (click)="toggleSearch()" (keydown)="toggleSearch()" tabindex="0"   ></i>
       </div>
    </div>
</div>