<div id="carouselMain" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="img-container">
                <img src="assets/img/banner_img.png" class="d-block w-100" alt="...">
            </div>
            <div class="details">
                <div class="h1">Wood & Cloth Sofa</div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae mollitia officiis odit
                    explicabo harum perferendis enim natus commodi aliquam ipsam molestias, distinctio nesciunt quisquam
                    ut architecto quam suscipit odio!</span>
                <a href="#" class="btn_2">buy now</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-container">
                <img src="assets/img/banner_img.png" class="d-block w-100" alt="...">
            </div>
            <div class="details">
                <div class="h1">Iron & steel chari</div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, natus!</span>
                <a href="#" class="btn_2">buy now</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-container">
                <img src="assets/img/banner_img.png" class="d-block w-100" alt="...">
            </div>
            <div class="details">
                <div class="h1">Oak Table</div>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, asperiores. Assumenda ea
                    reiciendis veniam nemo commodi necessitatibus dolore reprehenderit magnam ratione blanditiis fuga
                    doloribus adipisci officiis quo harum eius pariatur repudiandae, neque maxime consequuntur non
                    atque. Esse, non. Minus consequuntur recusandae similique deserunt ex eaque perspiciatis, suscipit
                    facere neque in?</span>
                <a href="#" class="btn_2">buy now</a>
            </div>
        </div>

    </div>
    <div class="btn-container">
        <button class="btn btn-outline-dark border-end border-1 border-black rounded-0" type="button"
            data-bs-target="#carouselMain" data-bs-slide="prev">
            <span class="">Previous</span>
        </button>

        <button class="btn btn-outline-dark rounded-0" type="button" data-bs-target="#carouselMain"
            data-bs-slide="next">
            <span class="">Next</span>
        </button>
    </div>


</div>