<div class="container d-flex  flex-column overflow-hidden ">
    <!-- title -->
    <div class="title">
        <div class="d-flex flex-column flex-md-row title-text">
            <h1 class="me-md-3"><ng-content select="[mainTitle]" class=""></ng-content></h1>
            <span> <ng-content select="[subTitle]"></ng-content></span>
        </div>
        
        <div class="arrows">
            <span class="" role="button"(click)="scrollLeft(list)" role="button">next</span>
            <span class="prev" role="button" (click)="scrollRight(list)" role="button">previous</span>
        </div>
    </div>

    <!-- scrollable -->
    <div class="scrollable-row w-100" #list>
        <div class="item" *ngFor="let item of items" [routerLink]="['/product']" >
            <img [src]="item" alt="chair" class="img-fluid">
            <div class="details">
                <h3>Lorem ipsum</h3>
                <span>$150.00</span>
                <div class="hover-container">
                    <button type="button">+ ADD TO CART</button>
                    <i class="bi bi-heart"></i>
                </div>
            </div>
        </div>


    </div>




</div>