div.item {
    padding: 0px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    transition: 400ms;
    overflow: hidden;
   
    img {
      width: 100%;
    }
    &:hover{
      transition: 400ms;
      box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.26);
      .details{
          .hover-container{
              visibility: visible;
              transition: 400ms;
              i{
                  transform: translateX(0);
                  transition: 400ms ease-in-out;
              }
              button{
                  transform: translateX(0);
                  transition: 400ms ease-in-out;
              }
          }
      }
      
    }
    .details {
      padding: 20px;
      .hover-container {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
          visibility: hidden; 
          
        button {
          border: none;
          padding: 5px 10px;
          color: rgb(255, 84, 112);
          background: transparent;
          font-weight: 700;
          font-size: 1.1em;
          transform: translateX(-100px);
          transition: 400ms ease-out;
        }
        i{
          transform: translateX(100px);
          transition: 400ms ease-out;
        }
      }
    }
  }
  .active{
    transition: 100ms;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.26);
    .details{
        .hover-container{
            visibility: visible !important;
            transition: 200ms !important;
      
            i{
                transform: translateX(0) !important;
                transition: 300ms ease-in-out !important;
          
            }
            button{
                transform: translateX(0) !important;
                transition: 300ms ease-in-out !important;
          
            }
        }
    }
    
  }